<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% comment %}
        <div class="footer-manu">
          <ul>
            <li><a href="#">Menu</a></li>
            <li><a href="{{ site.baseurl }}/contact">Location</a></li>
          </ul>
        </div>
        {% endcomment %}
        {% comment %}
        <p>Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p>
        {% endcomment %}
        <p>
          <b>Oji</b><br />
          1740 Buchanan St, San Francisco, CA 94115<br />
          (415) 658-7103
        </p>
      </div>
    </div>
  </div>
</footer>
